/* Alphabetized on class and ID (mixed together) */

.activePaneButton
{
	background-color: white;
}

.addLink
{
	cursor:pointer;
	padding-left:2.5rem;
	font-size: .8rem;
	padding-top: .2rem;
}

#applyDiv2
{
	right: -65rem;
	z-index: 100;
	position: absolute;
	top: -2.5rem;
}

#benchBody {
	width:100%;
	height:100%;
	padding: 0rem;
}

.benchHeader
{
	padding-bottom: 1.25rem; 
	width: 42.5rem; 
	margin-left: 12.7rem;
	margin-top: 2.2rem;
}

/* default color and font for edit form on the bench */
.blockEdit
{
	font-size: 1.125rem;
	font-variant: small-caps;
	color: #4c5356;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.blockEdit div
{
	padding-bottom: 0.3125rem;
}

.blockEdit div input
{
	width:95%;
	font-variant: normal;
    font-size: 1.125rem;
    line-height:1.9375rem;
    height:1.9375rem;
}

.blockSelectable
{
	position:relative;
	border: .0625rem solid #ffffff;
}

button.colorSelectButton {
	width:30px;
	height:15px;
}

.checkOutButton 
{
	color: #ffffff;
	background-color: #5CC1A4;
	-webkit-border-radius: 0.125rem; 
	-moz-border-radius: 0.125rem;
	-o-border-radius: 0.125rem;
	border-radius: 0.125rem;
	border-width: 0rem;
}


#contentArea
{
	font-size: 12px;	
	background-color:#F8F8F8 !important;
	border-style:none;
}

.contentgroup
{
	font-size: 12px;
}

.contentgroup2
{
	font-size: 12px;
	padding-top: 2rem;
}

.editorDiv
{
	padding: 0rem;
	height: 98vh;
	position: absolute;
	top: 0rem;
	right: 0rem;
	z-index: 2;
	width: 27rem;
}

.editTab {
	overflow-x: hidden;
	overflow-y: auto;
	width:100%;
	background-color: #ffffff;
	margin-bottom:0.9375rem
}

.editTextArea textarea
{
	font-size: 0.8rem;
	font-family:sans-serif;
}

.emailBenchHeader
{
	font-size: 1.625rem;
	border-bottom-right-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.fieldname
{
	padding-top: 1rem;
}

#finishedImage
{
	border: 13px solid #DBDCE3;
}

.goBackLink 
{
	font-size:17px;
	text-decoration:none;
}

.hiddenPalette {
	display:none;
}


.k-tabstrip .k-tabstrip-items {
    padding: 2.5rem 0.3rem 0;
}

ul.leftButtons {
	list-style-type: none;
}

#leftSideBar {
	position:fixed;
	left: 0rem;
	top: 0rem;
	z-index: 2;
	width:6rem;
}

#leftSideBar .k-tabstrip-items .k-state-active
{
	background-color: #ffffff;
	border-color: #ffffff;
}

.linkText
{
	padding:1.25rem 0rem 0rem 0.9375rem;
	font-size: 1.375rem;
	width: 100%;
}

.promoPane
{
	position:absolute;
	top:36px;
}

.rounded
{
	-moz-border-radius: 1rem;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
}

.newImageLink
{
	float:left;
	width:2.25rem;
	padding-right: 0.4375rem;
}

.galleryImage {
	max-width:180px;
	max-height:180px;
	position:absolute;
	top:0;
	left:0;
}

.galleryPickerField > div {
	position:relative;
	min-width:180px;
	min-height:180px;
	max-width:180px;
	max-height:180px;
}

.galleryPickerField img {
	max-width:180px;
	max-height:180px;
}


#galleryTabs .k-link
{
	color: black;
	width: 125px;
	font-size: 1rem;
	text-align: center;
}

#imageGalleryPopup
{
	font-family: proxima-nova;
}

#imagePicker
{
	border-style:none;
}

#imagePickerHolder {
	max-height:800px;
	overflow:scroll;
}

#imagePickerHolder button
{
	color: white;
	background-color: #227279;
	min-height: 1.25rem;
}

.k-tabstrip-items .k-tab-on-top .k-link
{
	background-color: white;
}

.k-tabstrip-items .k-tab-on-top .k-link:hover
{
	background-color: white;
}

.k-tabstrip-items .k-link
{
	background-color: #e2e3e4;
}

.k-tabstrip-items .k-loading 
{
	border-width: 0px;
}

.k-tabstrip-items .k-link:hover
{
	background-color: #e2e3e4;
}

.k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content
{
	border-width: 0px;
}

.k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item
{
	border-width:0px;
}

td.paletteButton {
	width:40px;
	height:20px;
	padding:3px
}

td.paletteButton button {
	width:30px;
	height:15px;
}

.photoBlock
{
    float: left;
    position: relative;
    width: 222px;
    height: 220px;
    margin: 0 5px;
    padding: 0;
}

.smallEditFont
{
	font-size: .875rem;
	padding-top: -0.625rem;
}

#styleArea
{
	border-style:none;
}

#styleArea .k-state-selected
{
	background: transparent !important;
}

li.stylefield {
	width:100%;
	height: 200px;
	max-height: 200px;
	max-width: 200px;
	float:left;
	list-style-type: none;
	overflow:hidden;
}

.tabButton {
	text-align:center;
	font-size:10px;
	cursor:pointer;
	padding-bottom: 2px;
	padding-top: 2px;
}

#plusSignLink { background-image: url('/images/bench/plus-sign.png'); background-repeat: no-repeat; background-size: 20px; }

#tabstrip .k-link
{
	color: black;
	width: 60px;
	font-size: .8rem;
	text-align: center;
}

#tabstrip2
{
	width:21rem;
	overflow:auto;
	height:100%;
	max-height:100%;
}

#tabstrip2 .k-link
{
	color: black;
	width: 126px;
	font-size: .8rem;
	text-align: center;
}

#tabstrip, #tabstrip2, #galleryTabs
{
	border-width:0px !important;
}

.useThisImage {
	z-index:2;
	position:absolute;
	top:80px;
	left:10px;
	-moz-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
	min-width:160px;
	background-color:orange;
}
	
.viewImageGallery
{
	width: 10rem;
}

input::-webkit-inner-spin-button, 
    input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

.workingText
{
	padding:1.25rem 0rem 0rem 0.9375rem;
	font-size: 1.375rem;
	width: 100%;
}

