#benchBody {
	width:100%;
	height:100%;
	padding: 0.625rem;
}

#leftSideBar {
	position:fixed;
	left: 1%;
	top: 6.5rem;
	z-index: 2;
	width:11rem;
}

.rounded
{
	-moz-border-radius: 1rem;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
}

.editorDiv
{
	padding: 0rem 1.25rem;
	height: 26rem;
	position: absolute;
	right: -67.6rem;
	z-index: 2;
	width: 21rem;
}

#applyDiv
{
	right: -54rem;
	z-index: 100;
	top: -2.5rem;
	position: absolute;
}

#applyDiv2
{
	right: -65rem;
	z-index: 100;
	position: absolute;
	top: -2.5rem;
}

.benchHeader
{
	background-color: #e2e3e4;
	padding-bottom: 1.25rem; 
	width: 42.5rem; 
	margin-left: 12.7rem;
	margin-top:2.9rem;
}

.emailBenchHeader
{
	font-size: 1.625rem;
	border-bottom-right-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

#addNewBlock
{
	width:11rem;
	position:fixed;
	top:7rem;
	left:1rem;
	z-index: 100;
	font-size: 1.2rem;
	text-align:center;
}

#addNewBlock2
{
	right: -65rem;
	width: 18rem;
	position:absolute;
	top: .5rem;
	z-index: 100;
	font-size: 1.3rem;
	text-align: center;
}

.linkText
{
	padding:1.25rem 0rem 0rem 0.9375rem;
	font-size: 1.375rem;
	width: 100%;
}

.workingText
{
	padding:1.25rem 0rem 0rem 0.9375rem;
	font-size: 1.375rem;
	width: 100%;
}

.k-tabstrip .k-tabstrip-items {
    padding: 2.5rem 0.3rem 0;
}

.blockSelectable
{
	position:relative;
	border: .0625rem solid #ffffff;
}

.addLink
{
	cursor:pointer;
	padding-left:2.5rem;
	font-size: .8rem;
	padding-top: .2rem;
}

/* default color and font for edit form on the bench */
.blockEdit
{
	font-size: 1.125rem;
	font-variant: small-caps;
	color: #4c5356;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.newImageLink
{
	float:left;
	width:2.25rem;
	padding-right: 0.4375rem;
}

.editTextArea textarea
{
	font-size: 0.8rem;
	font-family:sans-serif;
}

.blockEdit div
{
	padding-bottom: 0.3125rem;
}

.blockEdit div input
{
	width:95%;
	font-variant: normal;
    font-size: 1.125rem;
    line-height:1.9375rem;
    height:1.9375rem;
}

.smallEditFont
{
	font-size: .875rem;
	padding-top: -0.625rem;
}

#newWorkshopLink { background-image: url('/images/bench/Workshop_bench.png'); background-repeat: no-repeat; background-size: 20px; }
#newClassLink { background-image: url('/images/bench/Classes.png'); background-repeat: no-repeat; background-size: 20px; }
#newTeacherLink { background-image: url('/images/bench/Teacher_Bench.png'); background-repeat: no-repeat; background-size: 20px;}
#newScheduleLink { background-image: url('/images/bench/scheduleIconBench.png'); background-repeat: no-repeat; background-size: 20px;}
#newSocialLink { background-image: url('/images/bench/socialIcon_Bench.png'); background-repeat: no-repeat; background-size: 20px;}
#newTextLink { background-image: url('/images/bench/subHeaderIcon_Bench.png'); background-repeat: no-repeat; background-size: 20px;}
#newSaleLink { background-image: url('/images/bench/saleIcon_Bench.png'); background-repeat: no-repeat; background-size: 20px;}
#newGraphicLink { background-image: url('/images/bench/saleIcon_Bench.png'); background-repeat: no-repeat; background-size: 20px;}
#newFooterLink { background-image: url('/images/bench/saleIcon_Bench.png'); background-repeat: no-repeat; background-size: 20px;}

#newTextBlockLink { background-image: url('/images/bench/subHeaderIcon_Bench.png'); background-repeat: no-repeat; background-size: 20px;}
#newImageBlockLink { background-image: url('/images/bench/Teacher_Bench.png'); background-repeat: no-repeat; background-size: 20px;}
#newVideoBlockLink { background-image: url('/images/bench/scheduleIconBench.png'); background-repeat: no-repeat; background-size: 20px;}
#newWebBlockLink { background-image: url('/images/bench/saleIcon_Bench.png'); background-repeat: no-repeat; background-size: 20px;}

#plusSignLink { background-image: url('/images/bench/plus-sign.png'); background-repeat: no-repeat; background-size: 20px; }

/* #leftSideBar .k-tabstrip-items .k-state-active, #leftSideBar .k-ie7 .k-tabstrip-items .k-state-active .k-loading */
#leftSideBar .k-tabstrip-items .k-state-active
{
	background-color: #ffffff;
	border-color: #ffffff;
}

#tabstrip .k-link
{
	color: black;
	width: 60px;
	font-size: .8rem;
	text-align: center;
}

#tabstrip2 .k-link
{
	color: black;
	width: 84px;
	font-size: .8rem;
	text-align: center;
}

#tabstrip, #tabstrip2, #galleryTabs
{
	border-width:0px !important;
}

/*#yourImagesView, #yourTeachersView
{
	width: 700rem;
	height: 530rem;
	border: 0;
	background: none;
}
*/
.photoBlock
{
    float: left;
    position: relative;
    width: 222px;
    height: 220px;
    margin: 0 5px;
    padding: 0;
}


#imageGalleryPopup
{
	font-family: proxima-nova;
}

#galleryTabs .k-link
{
	color: black;
	width: 125px;
	font-size: 1rem;
	text-align: center;
}

.k-tabstrip-items .k-tab-on-top .k-link
{
	background-color: white;
}

.k-tabstrip-items .k-tab-on-top .k-link:hover
{
	background-color: white;
}

.k-tabstrip-items .k-link
{
	background-color: #e2e3e4;
}

.k-tabstrip-items .k-loading 
{
	border-width: 0px;
}

.k-tabstrip-items .k-link:hover
{
	background-color: #e2e3e4;
}

.k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content
{
	border-width: 0px;
}

.k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item
{
	border-width:0px;
}

.viewImageGallery
{
	width: 10rem;
}

li.stylefield {
	width:50%;
	float:left;
	list-style-type: none;
}

input::-webkit-inner-spin-button, 
    input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}