.homeBadge
{
	cursor: pointer;
	float: left;
	width: 24%;
}

.spaceMe
{
	text-align:center;
	padding-bottom:2rem
}

.badgePrompt
{
	padding:1rem 0 3rem 0;
	text-align: center;
}

.modelTable td {
	width:154px;
	max-width:154px;	
}

.selectPromoText {
	font-size: 15px;
	color: #9E9EA3;
}

.categoryButton {
	padding: 0;
	border: none;
	background: none;
}

.categoryButton img {
	width: 94px;
}

.categoryName {
	font-size: 13px;
	color: #6A6463;
}

.modelHeader {
	font-size: 0.7rem;
}

.modelButton {
	cursor: pointer; 
	font-size: 20px;
	color: #5D5D5D;
}

#brndbotDashMain {
    width:100%;
	padding:0rem 0 0.625rem;
    background-color: #ffffff;
    min-height:50rem;
	font-family: 'Open Sans', sans-serif;
}

#brndbotDashBody {
	width:100%;
    margin:0 0;
	height: 53.125rem;
	padding: 0 0;
}

#imageWrapper2
{
	height:11rem;
}

#leftColumn
{
	width:15.625rem;
	float:left;
}

.modelsTable
{
	display: none;
}