
@font-face:
{
	font-family: proxima-nova;
}

.topRow
{
	overflow: auto;
	width: 100%;
	padding-bottom: 2rem;
}

.super-centered {
    width:100%;
    height:100%;
    text-align:center; 
    vertical-align:middle;
}

#imageWrapper td, #imageWrapper2 td {
	height:100%;
}

#imageWrapper table, #imageWrapper tbody, #imageWrapper tr, #imageWrapper td, #imageWrapper td div,
#imageWrapper2 table, #imageWrapper2 tbody, #imageWrapper2 tr, #imageWrapper2 td, #imageWrapper2 td div
{
	width: 100%;
}

#brndbotHeader {
    width:100%;
    background-color:#3c3d41;
    border-bottom: 0.175rem solid #c6c4c4;
    height: 3rem;
	background-image: url('/brndbot/images/HeaderLogo.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#brndbotSlimHeader {
    width:100%;
    height:20px;
    background-color:#2c4355;
}

#brndbotMain {
    width:100%;
	padding:0rem 0 0.625rem;
    background-color:white;
    min-height:50rem;
    overflow: hidden;
    font-family: proxima-nova;
}

.formHeader {
	font-size: 2.2rem;
	font-weight:600;
	color: #3f3f42;
}

.unit {
float:left;
}

.size1of10 {
	width: 10%;
}

.size1of1 {
float:none;
}

.size1of2 {
width:50%;
}

.size1of3 {
width:33.3333%;
}

.size2of3 {
width:66.6667%;
}

.size1of4 {
width:25%;
}

.size3of4 {
width:75%;
}

.size1of5 {
width:17%;
}

.size14of100 {
	width:14%;
}

.size2of5 {
width:40%;
}

.size3of5 {
width:60%;
}

.size4of5 {
width:80%;
}

.size3of10 {
width: 30%;
}

.size7of10 {
width: 70%;
}

.rightUnit
{
	display:table-cell;
	float:right;
}

.lastUnit {
	display:table-cell;
	float:none;
}

.grayNoHoverButton
{
	background-color: #c6c4c4;
	width:9.18rem;
	-moz-border-radius: 0.625rem;
	-webkit-border-radius: 0.625rem;
	border-radius: 0.625rem;
	border-width: 0rem;
}

.grayNoHoverButton:hover
{
	/* should be same color as non-hover */
	background-color: #c6c4c4;
}

.greenNoHoverButton
{
	background-color: #5cc2a6;
	width:9.18rem;
	-moz-border-radius: 0.625rem;
	-webkit-border-radius: 0.625rem;
	border-radius: 0.625rem;
	border-width: 0rem;
}

.greenNoHoverButton:hover
{
	/* should be same color as non-hover */
	background-color: #5cc2a6;
}


#signIn {
	margin-right:.75rem;
}

.greenButton {
	color: #ffffff;
	background-color: #5cc2a6;
	border-width: 0rem;
}

.orangeButton {
	color: #ffffff;
	background-color: #ED752D;
	-webkit-border-radius: 0.625rem; 
	-moz-border-radius: 0.625rem;
	-o-border-radius: 0.625rem;
	border-radius: 0.625rem;
	border-width: 0rem;
}

.greyButton {
	color: #ffffff;
	background-color: #C1C0BF;
	-webkit-border-radius: 1.25rem; 
	-moz-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
	border-radius:1.25rem;
	background-image: none;
	border-width: 0rem;
}

.viewButton
{
	width:4.375rem;
	padding-bottom:1.125rem;
	border-width: 0rem;
}

#errorMsg
{
	font-size: 1rem;
	color:red;
	margin-bottom:-1.0625rem;
	padding-top: 1rem;
}

.formLabelFor {
	font-size: 13px;
	color: #6a6463;
	font-weight: normal;
	font-variant: small-caps;
	margin-bottom:0.3125rem;	
}

.selectInput
{
	font-weight: normal; 
	font-size: .75rem; 
	width: 100%;
	padding:0.25rem 0.4375rem 0px 0px;
}

.selectFormat
{	
	width: 100%;
	line-height: 2rem;
	height: 2rem;
}

.formSpacer {
	padding-bottom: 1.25rem;
}

.formSpacerLite {
	padding-bottom: 0.625rem;
}

.formTextInput rounded {
	border:.0625rem solid #808080;
	padding:.125rem .0625rem;
	width:14.8125rem;
	height:1.9375rem;
}

.capText
{
	color: white;
	padding-top:1.25rem;
	padding-left: .25rem;
}

input.rounded {
/*	border: .0625rem solid #ccc; */
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	border-radius: 1.25rem;
	font-size: .75rem;
	padding: .25rem 0.4375rem;
	outline: 0;
	-webkit-appearance: none;
}

button.rounded {
	-moz-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
}

html, body
{
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}

textarea {
    resize: none;
}

.k-header, .k-grid-header-wrap, .k-grid .k-grouping-header, 
	.k-grid-header, .k-pager-wrap, .k-pager-wrap .k-textbox, 
	.k-pager-wrap .k-link, .k-grouping-header .k-group-indicator
{
	border-width: 0px;
}
